# === [ .NET / C# ] ===
bin/
obj/
*.user
*.userosscache
*.sln.doccache
.vs/
.root

# === [ JetBrains Rider ] ===
.idea/
*.sln.iml
*.log
_ReSharper.Caches/

# === [ Frontend ] ===
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === [ OS / System ] ===
.DS_Store
Thumbs.db

# === [ Python ] ===
venv/