@import 'tailwindcss';

@theme {
  --color-brand-green: #22c55e;
  --color-dark-bg: #06080a;

  --animate-marquee: marquee 7s linear infinite;
}

@keyframes grid-drift {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 48px 48px;
  }
}
@keyframes shine {
  0% {
    transform: translateX(-100%) skewX(-20deg);
  }
  100% {
    transform: translateX(90%) skewX(-20deg);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation-play-state: paused;
}
.shine-effect {
  transform: translateX(-100%) skewX(-20deg);
}
.animate-grid {
  animation: grid-drift 2s linear infinite;
}

.bg-grid-pattern {
  background-image: radial-gradient(circle at 1px 1px, rgba(34, 197, 94, 0.602) 1px, transparent 0);
  background-size: 48px 48px;
}
